---
---

@import "{{ site.theme }}";
section {
  width:650px;
  float:left;
  padding-bottom:50px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
